{% extends 'base.html' %}

{% block body %}
<div class="container-fluid container-search">
  <ul class="nav nav-pills justify-content-center">
	<li class="nav-item">
      <a class="nav-link active" href="{{ url_for('search.company_overview') }}">Company Overview</a>
	</li>
	<li class="nav-item">
      <a class="nav-link" href="{{ url_for('search.statistics') }}">Statistics</a>
	</li>
	<li class="nav-item">
      <a class="nav-link" href="{{ url_for('search.historical_price') }}">Historical Data</a>
	</li>
	<li class="nav-item">
      <a class="nav-link" href="{{ url_for('search.financials') }}">Financials</a>
	</li>
  </ul>
  <div class="row row-title justify-content-center">
	<div class="col-12 col-sm-3">
	  <h2> {{ "{} ({})".format(payload.get('Header').get('Security'), payload.get('Header').get('Symbol')) }} </h2>
    </div>
	<div class="col-12 col-sm-3">
	  <h2> {{ "${:.2f}".format(payload.get('Header').get('Current Price')) }} </h2>
	</div>
  </div>
  <div class="row justify-content-center">
	<div class="col-12 col-sm-6">
	  <ul class="list-unstyled">
		{% for k, v in payload.get('Body').items() %}
		<li><strong> {{ k }}:</strong> {{ v }}</li>
		{% endfor %}
	  </ul>
	  {% endblock %}
	</div>
  </div>
</div>

