{% extends 'base.html' %}

{% block body %}
<div class="container-fluid container-search">
  <ul class="nav nav-pills justify-content-center">
	<li class="nav-item">
      <a class="nav-link" href="{{ url_for('search.company_overview') }}">Company Overview</a>
	</li>
	<li class="nav-item">
      <a class="nav-link" href="{{ url_for('search.statistics') }}">Statistics</a>
	</li>
	<li class="nav-item">
      <a class="nav-link active" href="{{ url_for('search.historical_price') }}">Historical Data</a>
	</li>
	<li class="nav-item">
      <a class="nav-link" href="{{ url_for('search.financials') }}">Financials</a>
	</li>
  </ul>
  <div class="row row-title">
	<div class="col-12 col-sm-3">
	  <h4> {{ "{} ({})".format(payload.get('Security'), payload.get('Symbol')) }} </h4>
    </div>
	<div class="col-12 col-sm-3">
	  <h4> {{ "${:.2f} ({:0.2f}%)".format(payload.get('Current_Price'), payload.get('Performance')) }} </h4>
	</div>
  </div>
  <div class="row justify-content-center">
	<div class="col-12 col-price-buttons">
	  <div class="btn-group btn-group-sm" role="group" aria-label="time">
		<a type="button" class="btn btn-secondary" href="{{ url_for('search.five_days') }}" role="button">5 days</a>
		<a type="button" class="btn btn-secondary" href="{{ url_for('search.one_month') }}" role="button">1 month</a>
		<a type="button" class="btn btn-secondary" href="{{ url_for('search.six_months') }}" role="button">6 months</a>
		<a type="button" class="btn btn-secondary" href="{{ url_for('search.one_year') }}" role="button">1 year</a>
		<a type="button" class="btn btn-secondary" href="{{ url_for('search.ytd') }}" role="button">ytd</a>
		<a type="button" class="btn btn-secondary" href="{{ url_for('search._max') }}" role="button">max</a>
	  </div>
	</div>
  </div>
  <canvas id="myChart"></canvas>
</div>

<script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
	  type: 'line',
	  data: {
		  labels: {{ payload.get('Labels') | safe }},
		  datasets: [{
			  label: 'Close $',
			  data: {{ payload.get('Data') | safe }},
			  borderWidth: 1,
			  fill: false,
			  borderColor: 'rgb(0, 255, 255)'
		  }]
	  },
	  options: {
		  maintainAspectRatio: false,
          legend: {
              display: false
		  }
	  }
  });
</script>

  {% endblock %}
