{% extends 'base.html' %}

{% block body %}
<div class="container container-about">
  <h1>Summary</h1>
  <p>
    This application is a mock financial portfolio management tool. 
    The home page shows the daily and year to date return of multipe indices along with the S&P 500 top 10 daily gainers and top 10 daily losers. 
    Once an account is created or the user logs in, the dashboard page allows the user to deposit funds, buy and sell stocks, and tracks the performance and composition of your portfolio.
    The search bar can be used to research companies.
  </p>
  <p>
    It is written in Python.
    Stock data from Alpha Vantage API along with registered users, portfolio balances, and transactions are stored in a SQLite database. 
    The application utliizes a server-side in-memory cache to store the home page daily information. 
    Tasks are scheduled daily to update the database.
    Celery is used as a task queue and Redis as a message queue to accomplish this. 
    Incoming HTTP requests to my Linode server are reverse proxied by Nginx.
    Gunicorn along with the Flask application object serve each request and return a response. 
    Docker containers are used for ease of deployment and consistency across environments.
  </p>
  
  <hr>

<h1>Networking Concepts</h1>

<h3>The Client-Server Model</h3>
<p>Every network application is based on the client-server model which consists of one server process and at least one client process.
  The client in the context of this project is an Internet browser like Google Chrome and the server is my Linode VPS.
  When chrome is opened on a computer, the operating system starts a process running the google chrome executable program.
  When you type the IP address into the search bar and hit enter, the search bar contents are bundled into a request and sent to the server. 
  The server provides some service and returns a response to the client. 
  The client reads the response and the output is redirected from stdout to the browser screen and rendered by the DOM.</p>
  
<h3>Internet Connections</h3>
<p>A HTTP connection is a subset of a connection. A connection is point-to-point, full-duplex, and
reliable. It connects a pair of processes, data can flow in both directions, and the stream of bytes
is eventually received by the client process in the same order it was sent.</p>

<p>A socket is an end point of a HTTP connection. Sockets are used to connect a client and server.
Each socket has a corresponding socket address that consists of an Internet address and a port
denoted by:</p>

<p><strong>&lt;address&gt;:&lt;port&gt;</strong></p>

<p>The port in the client&#39;s socket address is assigned automatically by the kernel when the client
makes a connection request, which is known as an ephemeral port. The port on the server&#39;s
socket address is a well-known-port. Web servers typically use port 80.</p>

<p>Before the client sends a request, the client will use a DNS resolver to
find the corresponding Internet address. For example:</p>

<p><strong>http://google.com</strong></p>

<p>gets converted to:</p>

<p><strong>http://208.216.181.15:80</strong></p>


<p>When a server accepts the client connection request, a unique identifier known as a socket pair is
created. This is denoted by the tuple:</p>

<p><strong>(client_addr:client_port, server_addr:server:port)</strong></p>
<div class="col-12 col-md-6 mx-auto">
	<img src="{{url_for('static', filename='Internet_Connection.svg')}}" class="img-fluid rounded" alt="Internet_Connection">
</div>

<h3>Socket Connections</h3>
  <p>
  The socket interface is a set of functions that are used in conjuction with the UNIX I/O functions to build a network application.
  The figure below gives an overview of the socket interface in the context of a typical client-server transaction.
  
  Generally speaking, when you type a url into your search browser and hit enter these steps happen:
  </p>
  <ol type="1">
     <li>Your client creates a HTTP request</li> 
     <li>Your client sends a HTTP request</li>
     <li>The client asks to connect to the server</li>
     <li>The server accepts the client connection</li>
     <li>The client writes the HTTP request on the server buffer</li>
     <li>The server reads the HTTP request on its buffer</li>
     <li>The server writes the response to the client buffer</li>
     <li>The client closes the connection</li>
     <li>The server closes the connection</li>
     <li>The server waits for new connections to accept</li>
  </ol>
<div class="col-12 col-md-6 mx-auto">
	<img src="{{url_for('static', filename='Socket_Connection.svg')}}" class="img-fluid rounded" alt="Socket_Connection">
  </div>

<h3>Web Content</h3>
<p>Every piece of content returned by a web server is associated with some file that it manages.
These files have a unique name known as a URL. The most basic URL has the form:</p>

<p><strong>http://&lt;domain_name&gt;</strong></p> 

<p>The complete form of a URL is:</p>

<p><strong>http://&lt;domain_name&gt;/&lt; file-name&gt;/&lt;arguments&gt;?&lt;arg1&gt;&amp;&lt;arg2&gt;</strong></p>

<p>A ‘?’ character separates the file from the arguments, and each argument is separated by an ‘&amp;’
character. The file name and arguments are optional. Most browsers append the trailing ‘/’ which
would request the home directory or index page of the website.</p>

<h3>HTTP Transactions</h3>
<p>After the client establishes a connection with the server, it can send the HTTP request. A request
consists of a HTTP request line followed by zero or more request headers. A request line has the
form:</p>

<p><strong>&lt;method&gt; &lt;uri&gt; &lt;version&gt;</strong></p>

<p><strong>&lt;method&gt;</strong> can be one of a number of HTTP supported methods, including GET, POST,
OPTIONS, HEAD, PUT, DELETE, or TRACE. <strong>&lt;uri&gt;</strong> is the suffix of the corresponding URL
that includes the file name or the executable file and argument(s). <strong>&lt;version&gt;</strong> is the HTTP version
to which the request conforms to. Request headers provide additional information to the server
denoted by:</p>

<p><strong>&lt;header name&gt;: &lt;header data&gt;</strong></p>

<p>The Host header is used by proxy caches, which sometimes serve as intermediaries between a
browser (client) and the origin server that manages the requested file. The data in the Host
header, which identifies the domain name of the origin server, allows a proxy to determine if it
has a locally cached copy of the requested content. A reverse proxy is commonly used to serve
  the static files of a website since they do not change often.</p>

<hr>

<h1>Software Deep Dive</h1>

<h3>Nginx</h3>
<p>Nginx is used as a reverse proxy on my server whose main function is to handle incoming HTTP
connections, proxy them upstream to a WSGI, and return the response to the client. 
It is an event driven I/O non-blocking model that uses the pre-fork process model.
</p>
<p>The master process is supervisor process. It performs the privileged operations such as reading 
  configuration and binding to ports, creating a small number of child processes commonly 
  referred to as workers, and managing the list of running workers by restarting failed workers. 
  All requests and responses are handled completely by worker processes.
</p>
<p>Each worker is forked right after calling listen on the server socket which means the listen socket 
  can be shared among the multiple worker processes. Every worker will be notified about a new connection 
  to the server but only one of them will be able to accept the connection.
</p>
<p>
  Each worker is an I/O non-blocking single thread. Sharing data easily and reducing the number of process context switches lowers overhead per connection because each thread is contained in a single process.
  Multiplexing is implemented by an infinite loop with system calls to <em>epoll()</em>. <em>Epoll</em> has a handful of performance and convenience factors over <em>select()</em> or <em>poll()</em>. 
  <em>Epoll</em> scales linearly with the number of I/O events that occur while <em>select()</em> and <em>poll()</em> scale linearly with the number of file descriptors.
</p>

<h3>SQLite</h3>
<p>SQLite is used as the database on my server whose main function is to persistently store data. 
  It is a embedded Relational Database Management System. 
  SQLite was used over PostgreSQL because it was easier to set up and I didn't have a need for the perfomance increases or distributed system design that PostgreSQL offers.
  SQLAlchemy is used as a Object Relational Mapper which has many benefits and only a minor performance decrease. 
  SQLAlchemy is a wrapper around pure SQL but enables easier database and table configuration, CRUD operations, and transaction management.
  The tables are normalized to 2NF.
</p>
<p>Bulk inserts are used to greatly speed up the database initialization. The greatest-n-per-group design pattern was used to create a common table expression to populate the daily top 10 lists. 
  A single table scan ranks the rows of each company based on date, then filters out the rows with a ranking greater than 2, then aggregates, and finally joins the tables of results.
</p>
  <div class="col-12 col-md-6 mx-auto">
    <img src="{{url_for('static', filename='SQL.svg')}}" class="img-fluid rounded" alt="SQL">
    </div>

<h3>Gunicorn</h3>
<p>Gunicorn is used as a WSGI on my server whose main function is to run instances of my flask
application. It implements a UNIX pre-fork web server.
</p>
<p>The master process is supervisor process. It performs the privileged operations such as reading 
  configuration and binding to ports, creating a small number of workers, and managing the list of running workers by restarting failed workers. 
  All requests and responses are handled completely by worker processes.
</p>
<p>Each worker is forked right after calling listen on the server socket which means the socket 
  can be shared among the multiple worker processes. Every worker will be notified about a new connection 
  to the server but only one of them will be able to accept the connection. 
</p>
<p>
  Each worker is an I/O blocking single-threaded processes which mean they can only handle a single request at a time. 
  This is implemented by an infinite loop with system calls to <em>select()</em>. <em>select</em> is O(n) run time since it needs to iterate over the entire set to see 
  which file descriptors have data in their buffer.</p>

<p>At the beginning of each loop, a copy of the current_set is stored in <em>ready_set </em>since <em>select()</em> is
destructive. There are two cases for ready_set:</p>

<ol type="1">
    <li>If the file descriptor equals the server socket this means that a Nginx worker has
requested to make a connection and needs to be accepted</li>
        <ol type="a">
            <li>The connection is added to the current_set</li>
        </ol>
    <li>If the file descriptor is any other socket this means that a Nginx worker has wrote a
HTTP request to the buffer</li>
        <ol type="a">
            <li>The worker process will handle the HTTP request written in the buffer by making
use of exec() and dup2() system calls</li>
            <ol type="i">
                <li>The flask application is executed with any request arguments</li>
            </ol>
            <li>The response is written to the Nginx worker socket buffer</li>
            <li>The worker process removes the file descriptor from the current_set</li>
        </ol>
</ol>

<h3>Redis</h3>
<p>Redis is an in-memory key-value stores whose main function is to cache database queries and
to act as a message queue for Celery tasks.</p>

<p>A key-value data structure is implemented by a hash function which is used to search, insert, and delete in O(1) time complexity. 
  The key-value data structure is stored in RAM since it is much faster than accessing the data from a disk drive for
  three reasons; the rotational latency, seek time, and transfer time. Disk drives are mechanical
  mechanisms that have limits. When data is finally read from the disk head, it has to be written to a buffer in DRAM before it can be read by the program.
  These reasons allow data to be accessed and returned quickly to the user.
  </p>

<p>A message queue is a publish-subscribe model where there are publishers, acting as producers of
events, and subscribers, acting as consumers of events. It is a centralized architecture model.
Events are enqueued asynchronously onto a FIFO linked list queue. Subscribers synchronously
dequeue the queue. This maintains the order of events.</p>


<h3>Celery</h3>
<p>Celery is used as a task queue and a scheduler. A task queue ensures concurrency control and
non-blocking task processing. Long running tasks are offloaded from the main gunicorn process that is
serving the client’s request. The long running task is executed by another process in parallel.
This allow my application to maximize responsiveness.</p>

<p>The master process creates worker threads. Each worker thread subscribes to the Redis message
queue. When a flask application executing by a Gunicorn process triggers an event, a non-blocking
task is enqueued onto the Redis message queue. Worker threads dequeue tasks from the queue. They
use dup2() to copy the arguments and code into virtual memory and exec() to run the code.</p>

<p>Celery Beat is a task scheduler. It pushes tasks at predetermined intervals to the message queue which are then pulled and 
executed by available workers. API calls are scheduled daily to keep the database updated with
the latest S&amp;P 500 list and latest stock prices.</p>

<h3>Docker</h3>
<div class="row">
  <div class="col-12 col-md-6 col-lg-12">
	<p>
	  Docker is used to run Nginx, Gunicorn, Redis, Celery Worker and Celery Beat processes inside isolated
	  OS-level virtualizations by automatically creating network namespaces connected to a virtual bridge via veth pairs. Docker modifies the IP tables to allow the external network traffic to communicate with the internal namespaces.
	</P>
	<p>Before using Docker, manually opening multiple emacs shells and running multiple
	  commands to initialize the environment was time consuming. Gunicorn and Celery processes are started with the command in each corresponding file <i>/compose/production</i> whereas Nginx and Redis have their own internal entrypoint commands.
	</p>
  </div>
  <div class="col-12 col-md-6 mx-auto">
	<img src="{{url_for('static', filename='Docker.svg')}}" class="img-fluid rounded" alt="docker">
  </div>
</div>

<hr>

<h1>Conclusion</h1>
<p>If you made it this far, thanks for reading. I learned a lot while creating this project and while trying to explain it.
</p>
<blockquote class="blockquote">
  <p class="mb-0">The more you know, the more you realize you don&#39;t know</p>
  <footer class="blockquote-footer">Aristotle</footer>
</blockquote>
<p>Check out my personal website and stay tuned for my next project. I think I'm going to build some kind of filesharing peer-2-peer system from scratch using networking and concurrency concepts.</p>
</div>
{% endblock %}
