<!doctype html>
<html style="font-family: Arial" lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	
    <title>{% block title %}{% endblock %}</title>
  </head>
  
  <body class="text-white">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://kit.fontawesome.com/f149088b14.js" crossorigin="anonymous"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script> -->
	<!-- <script src="path/to/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script> -->
    <header role="header" class="navbar sticky-top navbar-expand-sm navbar-custom navbar-dark">
	  <a class="navbar-brand" href="/">Paper Money</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarToggler">
		<div class="navbar-nav">
		  {% if g.user %}
		  <a class="nav-link text-nowrap" href="{{ url_for('dashboard.home_get') }}">Dashboard</a>
		  <a class="nav-link text-nowrap" href="{{ url_for('auth.logout') }}">Log Out</a>
		  {% else %}
		  <a class="nav-link text-nowrap" href="{{ url_for('auth.register') }}">Register</a>
		  <a class="nav-link text-nowrap" href="{{ url_for('auth.login') }}">Log In</a>
		  {% endif %}
		</div>
	  </div>
	  <form id="searchInput" class="form-inline w-100 px-2" action="{{ url_for('search.company_overview') }}" method="get">
		<input class="form-control form-control-dark" name="q" type="search" placeholder="Search by ticker symbol..." aria-label="Search">
	  </form>
	</header>
	<main role="main">
		{% block body %}{% endblock %}
	</main>
	
    <footer class="footer font-small mx-0">
      <div class="container-fluid text-center">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a href="https://gitlab.com/sat1017/finance">GitLab</a>
          </li>
          <li class="list-inline-item">
            <a href="https://stephen-tomaszewski.com/" target="_blank">About the Author</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('about.about') }}">About the App</a>
          </li>
          <li class="list-inline-item">
            <a href="https://gitlab.com/sat1017/finance/-/blob/master/LICENSE" target="_blank">Code License</a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:stephen.tomaszewski17@gmail.com" target="_blank">Contact Me</a>
          </li>
        </ul>
      </div>
    </footer>
	
  </body>
  
</html>
