{% extends 'base.html' %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container container-index">
  <div class="row text-center mx-1">
	<div class="col-4 px-1">
	  <div class="row mx-0">
		<div class="col-12 col-md-6 px-0">
		  {% set i = total_payload.get('indexes').get('meta_data')[0] %}
		  {% set d = total_payload.get('indexes').get(i) %}
		  {{ "{}".format(i) }}<br>
		  <span class="d-none d-lg-block">{{ "${:.2f}".format(d['current_price']) }}</span>
		  <span class="d-none d-lg-block">{{ "{:0.2f}% 1-Day".format(d['percent_change']) }}</span>
		  {{ "{:0.2f}% YTD".format(d['ytd_percent_change']) }}
		</div>
		<div class="col-12 col-md-6 px-0">
		  {% set i = total_payload.get('indexes').get('meta_data')[1] %}
		  {% set d = total_payload.get('indexes').get(i) %}
		  {{ "{}".format(i) }}<br>
		  <span class="d-none d-lg-block">{{ "${:.2f}".format(d['current_price']) }}</span>
		  <span class="d-none d-lg-block">{{ "{:0.2f}% 1-Day".format(d['percent_change']) }}</span>
		  {{ "{:0.2f}% YTD".format(d['ytd_percent_change']) }}
		</div>
	  </div>
	</div>
	<div class="col-4 px-1">
	  <div class="row mx-0">
		<div class="col-12 col-md-6 px-0">
		  {% set i = total_payload.get('indexes').get('meta_data')[2] %}
		  {% set d = total_payload.get('indexes').get(i) %}
		  {{ "{}".format(i) }}<br>
		  <span class="d-none d-lg-block">{{ "${:.2f}".format(d['current_price']) }}</span>
		  <span class="d-none d-lg-block">{{ "{:0.2f}% 1-Day".format(d['percent_change']) }}</span>
		  {{ "{:0.2f}% YTD".format(d['ytd_percent_change']) }}
		</div>
		<div class="col-12 col-md-6 px-0">
		  {% set i = total_payload.get('indexes').get('meta_data')[3] %}
		  {% set d = total_payload.get('indexes').get(i) %}
		  {{ "{}".format(i) }}<br>
		  <span class="d-none d-lg-block">{{ "${:.2f}".format(d['current_price']) }}</span>
		  <span class="d-none d-lg-block">{{ "{:0.2f}% 1-Day".format(d['percent_change']) }}</span>
		  {{ "{:0.2f}% YTD".format(d['ytd_percent_change']) }}
		</div>
	  </div>
	</div>
	<div class="col-4 px-1">
	  <div class="row mx-0">
		<div class="col-12 col-md-6 px-0">
		  {% set i = total_payload.get('indexes').get('meta_data')[4] %}
		  {% set d = total_payload.get('indexes').get(i) %}
		  {{ "{}".format(i) }}<br>
		  <span class="d-none d-lg-block">{{ "${:.2f}".format(d['current_price']) }}</span>
		  <span class="d-none d-lg-block">{{ "{:0.2f}% 1-Day".format(d['percent_change']) }}</span>
		  {{ "{:0.2f}% YTD".format(d['ytd_percent_change']) }}
		</div>
		<div class="col-12 col-md-6 px-0">
		  {% set i = total_payload.get('indexes').get('meta_data')[5] %}
		  {% set d = total_payload.get('indexes').get(i) %}
		  {{ "{}".format(i) }}<br>
		  <span class="d-none d-lg-block">{{ "${:.2f}".format(d['current_price']) }}</span>
		  <span class="d-none d-lg-block">{{ "{:0.2f}% 1-Day".format(d['percent_change']) }}</span>
		  {{ "{:0.2f}% YTD".format(d['ytd_percent_change']) }}
		</div>
	  </div>
	</div>
  </div>
  <div class="row justify-content-center">
	<div class="col-6 col-lg-5">
	  <h5 style="margin-top: 8px;">Top 10 Gainers</h5>
	  <ul class="list-group" id="top_ten_gain">
		{% for g in total_payload.get('gainers') %}
		<li class="list-group-item list-group-item-dark">
		  <span class="d-block">{{ "{}".format(g[0]) }}</span>
		  <span class="d-block">{{ "{}".format(g[1]) }}</span>
		  <span class="d-block" style="color: #00873c;">{{ "{:0.2f}% Change".format(g[2]) }}</span>
		</li>
		{% endfor %}
	  </ul>
	</div>
	<div class="col-6 col-lg-5">
	  <h5 style="margin-top: 8px;">Top 10 Losers</h5>
	  <ul class="list-group">
		{% for l in total_payload.get('losers') %}
		<li class="list-group-item list-group-item-dark">
		  <span class="d-block">{{ "{}".format(l[0]) }}</span>
		  <span class="d-block">{{ "{}".format(l[1]) }}</span>
		  <span class="d-block" style="color: #eb0f29;">{{ "{:0.2f}% Change".format(l[2]) }}</span>
		</li>
		{% endfor %}
	  </ul>
	</div>
  </div>
</div>


{% endblock %}
