{% extends 'base.html' %}

{% block body %}
<div class="container container-dashboard">
  <h1 class="h1 text-center font-weight-normal">Portfolio</h1>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
  <div class="row row-1">
	<div class="col-md-6 chart">
	  <canvas id="myChart"></canvas>
	</div>
	<div class="col-md-6">
	  <div class="row">
		<div class="col-lg-6">
		  <h4 class="h4 font-weight-normal">
			{{ "Available Balance: ${:.2f}".format(payload.get('balance')) }}
		  </h4>
		</div>
		<div class="col-lg-6">
		  <div class="row justify-content-center">
		  <form method="POST" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
			<div class="form-row">
			  <div class="form-group" style="margin-bottom: 0px; padding-right: 5px;">
				<input id="addFunds" name="addFunds" type="text" class="form-control" placeholder="Add funds..." required>
				<div class="invalid-feedback">Balance is required</div> 
			  </div>
			  <button type="submit" class="btn btn-primary">
				<i class="fas fa-plus"></i>
			  </button>
			</div>
		  </form>
		  </div>
		</div>
	  </div>
	  <div class="row holdings-custom">
		<div class="col">
		  <h4 class="h4 text-center font-weight-normal">Holdings</h4>
		  <div class="table-responsive rounded" id="holdings">
			<table class="table table-light table-striped table-sm rounded" id="holdings">
			  <thead class="thead-light">
				<tr> {% for row in payload.get('portfolio_cols') %}
				  <th>{{ row }}</th>
				  {% endfor %}
				</tr>
			  </thead>
			  <tbody> {% for num, r in enumerate(payload.get('portfolio')) %}
				<tr>
				  <td>{{ num+1 }}</td>
				  <td>{{ r.get('Symbol') }}</td>
				  <td>{{ r.get('Quantity') }}</td>
				  <td>{{ "${:.2f}".format(r.get('TotalCost')) }}</td>
				  <td>{{ "${:.2f}".format(r.get('CurrentBalance')) }}</td>
				  <td>{{ "{:.2f}%".format(r.get('Return')) }}</td>
				</tr> {% endfor %}
			  </tbody>
			</table>
		  </div>
		</div>
	  </div>
	  <div class="row buy-custom">
		<div class="col-lg">
		  <form method="POST" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
			<div class="form-row" style="margin-bottom: 12px;">
			  <div class="form-group col-sm" style="margin-bottom: 0px;">
				<input id="ticker" name="tickerBought" type="text" class="form-control" placeholder="Ticker..." required>
				<div class="invalid-feedback">Ticker is required</div>
			  </div>
			  <div class="form-group col-sm" style="margin-bottom: 0px;">
				<input id="amountShares" name="amountSharesBought" type="text" class="form-control" placeholder="# of shares..."  required>
				<div class="invalid-feedback">Amount of shares is required</div>
			  </div>
			  <div class="form-group col-sm" style="margin-bottom: 0px;">
				<input id="date" name="dateBought" type="date" class="form-control" placeholder="Date acquired..." required>
				<div class="invalid-feedback">Date is required</div>
			  </div>
			  <button type="submit" class="btn btn-primary">
				<i class="fas fa-plus"></i>
			  </button>
			</div>
		  </form>
		</div>
	  </div>
	  <div class="row sell-custom">
		<div class="col-lg">
		  <form method="POST" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
			<div class="form-row">
			  <div class="form-group col-sm" style="margin-bottom: 0px;">
				<input id="ticker" name="tickerSold" type="text" class="form-control" placeholder="Ticker..." required>
				<div class="invalid-feedback">Ticker is required</div>
			  </div>
			  <div class="form-group col-sm" style="margin-bottom: 0px;">
				<input id="amountShares" name="amountSharesSold" type="text" class="form-control" placeholder="# of shares..." required>
				<div class="invalid-feedback">Amount of shares is required</div>
			  </div>
			  <div class="form-group col-sm" style="margin-bottom: 0px;">
				<input id="date" name="dateSold" type="date" class="form-control" placeholder="Date sold..." required>
				<div class="invalid-feedback">Date is required</div>
			  </div>
			  <button type="submit" class="btn btn-primary">
				<i class="fas fa-minus"></i>
			  </button>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>
  <div class="row">
  	<div class="col-sm-6 bought-custom">
  	  <h4 class="h4 text-center font-weight-normal">Your Shares Bought</h4>
  	  <div class="table-responsive rounded" id="buyTable">
  		<table class="table table-light table-striped table-sm" id="buyTable">
  		  <thead class="thead-light">
  			<tr> {% for row in payload.get('table_cols') %}
  			  <th>{{ row }}</th>
  			  {% endfor %}
  			</tr>
  		  </thead>
  		  <tbody> {% for num, r in enumerate(payload.get('buys')) %}
  			<tr>
  			  <td>{{ num+1 }}</td>
  			  <td>{{ r.get('Date') }}</td>
  			  <td>{{ r.get('Symbol') }}</td>
  			  <td>{{ r.get('Quantity') }}</td>
  			  <td>{{ "${:.2f}".format(r.get('Amount')) }}</td>
  			</tr> {% endfor %}
  		  </tbody>
  		</table>
  	  </div>
  	</div>
  	<div class="col-sm-6 sold-custom">
  	  <h4 class="h4 text-center font-weight-normal">Your Shares Sold</h4>
  	  <div class="table-responsive rounded" id="sellTable">
  		<table class="table table-light table-striped table-sm" id="sellTable">
  		  <thead class="thead-light">
  			<tr> {% for row in payload.get('table_cols') %}
  			  <th>{{ row }}</th>
  			  {% endfor %}
  			</tr>
  		  </thead>
  		  <tbody> {% for num, r in enumerate(payload.get('sells')) %}
  			<tr>
  			  <td>{{ num+1 }}</td>
  			  <td>{{ r.get('Date') }}</td>
  			  <td>{{ r.get('Symbol') }}</td>
  			  <td>{{ r.get('Quantity') }}</td>
  			  <td>{{ "${:.2f}".format(r.get('Amount')) }}</td>
  			</tr> {% endfor %}
  		  </tbody>
  		</table>
  	  </div>
  	</div>
  </div>
</div>

<script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        // addEventListener takes 2 arguments. when 1st arguemnt (event) happens, call the second argument (function)
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
</script>
<script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
	  type: 'pie',
	  data: {
		  labels: {{ payload.get('chart_labels') | safe }},
		  datasets: [{
			  label: 'Symbol ',
			  data: {{ payload.get('chart_data') | safe }},
			  borderWidth: 4,
			  borderColor: 'rgb(0, 123, 255)'
		  }]
	  },
	  options: {
		  maintainAspectRatio: false,
          legend: {
              display: false
		  }
	  }
  });
</script>
{% endblock %}
