html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /* padding-bottom: 80px; */
    /* height: 100% */
	background-color: #030303;
}
main {
	height: 100vh;
	width: 100vw;
	/* margin-right: auto; */
    /* margin-left: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-grow: 1; */
    /* overflow: hidden; */
}
.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #1A1A1B;
	padding-bottom: 8px;
	padding-top: 8px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #7d7d82;
	/* border-radius: 1px; */
	
	/* margin-top: 80px; */
    /* height: 10vh; */
    /* width:100%; */
    /* padding:0.4rem 0; */
    /* background:#343A40; */
}
.navbar-custom {
	background-color: #1A1A1B;
	color: #fff;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #7d7d82;
}

.navbar-brand {
	font-size: 2rem;
}

/* .container-bg { */
/* 	background-color: #030303; */
/* } */
.container-index, .container-dashboard, .container-about {
	padding-top: 15px;
	padding-bottom: 10vh;
}
.container-search {
	padding-bottom: 10vh;
}
.row-1 {
	padding-bottom: 16px;
	margin: auto;
	/* height:30vh; */
}
/* .bought-custom, .sold-custom { */
/* 	border-style: solid; */
/* 	border-radius: 5px; */
/* 	border-width: 1px 1px 1px 1px; */
/* 	border-color: #7d7d82; */
/* } */
.chart {
	padding-bottom: 8px;
}
.holdings-custom {
	margin-top: 16px;
}
.buy-custom, .row-title {
	margin-top: 16px;
}
.sell-custom {
	margin-top: 16px;
}
a:hover {
	color: #7d7d82;
}
a, a:active, a:visited {
		color: #ffffff;
}

.col-price-buttons {
	margin-bottom: 0.5rem;
}

hr {  
    border-top: 2px dashed #7d7d82; 
} 
