{% extends 'base.html' %}

{% block body %}
<div class="container my-3">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
    </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <form method="POST" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
	<h1 class="h3 mb-3 text-center font-weight-normal">Please Log In</h1>
	<div class="form-row">
      <div class="form-group mx-auto col-sm-6">
		<input id="email" type="email" class="form-control" placeholder="Email address" name="email" required>
		<div class="invalid-feedback">Email is required.</div>
      </div>
	</div>
	<div class="form-row">
      <div class="form-group mx-auto col-sm-6">
		<input id="password" type="password" class="form-control" placeholder="Password" name="password" required>
		<div class="invalid-feedback">Password is required.</div>
      </div>           
	</div>
	<div class="form-row">
      <div class="form-group mx-auto col-sm-6">
		<button type="submit" class="btn btn-primary">Sign in</button>
      </div>
	</div>
  </form>
</div>


<script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
</script>

{% endblock %}
