{% extends 'base.html' %}

{% block title %}Register{% endblock%}

{% block body %}
<div class="container my-3">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
    </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <form method="POST" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
     <h1 class="h3 mb-3 text-center font-weight-normal">Please Register</h1>
	 <div class="form-row">
          <div class="form-group col-sm-6">
              <input id="name" name="name" type="name" class="form-control" placeholder="Name"  required>
              <div class="invalid-feedback">Name is required</div>
          </div>           
      </div>
	 <div class="form-row">
          <div class="form-group col-sm-6">
              <input id="email" name="email" type="email" class="form-control" placeholder="Email address"  required>
              <div class="invalid-feedback">Email is required</div>
          </div>
          <div class="form-group col-sm-6">
              <input id="phone" name="phone" type="text" class="form-control" placeholder="Phone number"  required>
              <div class="invalid-feedback">Phone is required</div>
          </div>              
      </div>
      <div class="form-row">
          <div class="form-group col-sm-6">
              <input id="password" name="password" type="password" class="form-control" placeholder="Password"  required>
              <div class="invalid-feedback">Password is required</div>
          </div>
          <div class="form-group col-sm-6">
              <input id="valpassword" name="valpassword" type="password" class="form-control" placeholder="Re-enter password"  required>
              <div class="invalid-feedback">Password is required</div>
          </div>            
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-primary">Register</button>
        <p class="my-auto ml-3">
          Already have an account? <a class="ml-1" href="{{ url_for('auth.login') }}">Sign in</a>
        </p> 
      </div>
  </form>
</div>

<script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        // addEventListener takes 2 arguments. when 1st arguemnt (event) happens, call the second argument (function)
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
</script>


{% endblock %}
